body{
    background: #1e1f24;
    color:#333;
    font-size: 16px;
    text-align: center;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

#cabecera {
    background: #37488b;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    color: white;
}

#cabecera #logo{

    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container{
    width: 70%;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    border: 1px solid #ddd;
}
 
#post{

    background: white;
    padding: 1em;
}

#container h1{

    font-size: 20px;
}